<div class="container mx-auto p-4">
    <div class="text-4xl font-bold text-center">Task Ninja</div>
    <div class="mb-4 flex justify-between">
        <div class="flex justify-star space-x-5">
      <div>
        <label class="block mb-2">Filter by status:</label>
        <select (change)="onFilterChange($event)" class="p-2 border rounded">
          <option value="">All</option>
          <option value="to-do">To-Do</option>
          <option value="in-progress">In-Progress</option>
          <option value="completed">Completed</option>
        </select>
      </div>
      <div class="mb-4">
        <label class="block mb-2">Sort by:</label>
        <select (change)="onSortChange($event)" class="p-2 border rounded">
          <option value="">None</option>
          <option value="dueDate">Due Date</option>
          <option value="priority">Priority</option>
        </select>
      </div>
    </div>
      <button (click)="exportTasksToCSV()" class="px-4 py-2 h-12 bg-green-500 text-white rounded hover:bg-green-600">Export to CSV</button>
    </div>
  
    
  
    <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
      <div class="border min-h-64 min-w-52 rounded p-4 shadow flex justify-center items-center cursor-pointer hover:bg-slate-100" (click)="navigateToAddTask()">
        <span class="text-4xl font-bold">+</span>
      </div>
      <div *ngFor="let task of filteredTasks" class="border rounded p-4 shadow flex flex-col justify-between">
        <div>
        <h3 class="text-xl font-bold">{{ task.title }}</h3>
        <p>{{ task.description }}</p>
        <p><b>Due:</b> {{ task.dueDate | date }}</p>
        <p><b>Priority:</b> {{ task.priority }}</p>
        <p><b>Status:</b> {{ task.status }}</p>
      </div>
        <div class="flex justify-between mt-2 ">
          <button (click)="deleteTask(task.id)" class="px-4 py-2 bg-red-500 text-white rounded">Delete</button>
          <button (click)="navigateToUpdateTask(task.id)" class="px-4 py-2 bg-blue-500 text-white rounded">Update</button>
          <button (click)="navigateToTaskHistory(task.id)" class="px-4 py-2 bg-gray-500 text-white rounded">History</button>
        </div>
      </div>
    </div>
  </div>
  